# --- Node / Frontend ---
node_modules
dist
dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Rust / Cargo ---
/src-tauri/target/


# --- Tauri Specific ---
/src-tauri/gen/
/src-tauri/icons/icon.icns
/src-tauri/icons/icon.ico
/src-tauri/icons/icon.png

# --- OS / Editors ---
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?